.right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
    width: 70%;
    }

/* BTN */
.btn {
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    color: #fff;
    text-transform: uppercase;
    border-radius: 8px;
    height: 32px;
    width: 128px;
    }

.btn:hover {
    transform: scale(1.1);
    cursor: pointer;
    }

.play {
    align-self: center;
    background-color: #7f8688;
    border: 1px solid #7f8688;
    margin-bottom: 16px;
    }

/*BTN Container*/
.levels {
    display: flex;
    justify-content: space-around;
    }

/*Board Container*/
.board {
    position: relative;
    height: 70%;
    }

/*Title*/
.title {
    text-transform: uppercase;
    align-self: center;
    }

/*Shell Container*/
.shellContainer {
    position: absolute;
    }

.ShellAnimation {
    animation: swing 1s infinite alternate;
    }

@keyframes swing {
    from {
        transform: translateX(100px);
        }
    to {
        transform: translateX(-200px);
        }
    }

/*Ball*/
.ball {
    position: absolute;
    top: 230px;
    left: 230px;
    border: 2px solid crimson;
    background: crimson;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    }

.invisible {
    animation: bounceIn 2s;
    }

@keyframes bounceIn {
    0% {
        transform: scale(0);
        opacity: 0;
        }
    60% {
        transform: scale(1);
        opacity: 1;
        }
    100% {
        transform: scale(0);
        opacity: 0;
        }
    }
