.shellContainer {
    position: absolute;
    }

.ShellAnimation {
    animation: swing 1s infinite alternate;
    }

@keyframes swing {
    from {
        transform: translateX(100px);
        }
    to {
        transform: translateX(-200px);
        }
    }
